@import "../variables";

.bestsellers {
    // padding: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 0;
    flex-wrap: wrap;

    @media (max-width: $sm) {
        flex-direction: column;
        margin: 50px 0;
    }
    @media (max-width: 992px) {
        justify-content: center;
        gap: 10px;
    }
}

.bestsellers-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 26px;

    @media (max-width: $sm) {
        flex-direction: column;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__rating {
            padding-bottom: 10px;
        }

        &__title {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #282627;
        }

        &__price {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #282627;

            &__striked {
                text-decoration: line-through;
                color: #bfbfbf;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                padding-right: 2px;
            }
        }

        &__btns {
            padding-top: 10px;
            display: flex;
            gap: 15px;

            &__btn {
                border: 0.5px solid #bfbfbf;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                cursor: pointer;
            }
        }
    }
}
