@import "../variables";

.flash-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background: $color-primary;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;

    @media (max-width: $sm) {
        height: 30px;
        font-size: 14px;
    }
    @media (min-width: $sm) and (max-width: $md) {
        height: 40px;
        font-size: 16px;
    }
}
