@import "../variables";

.flash-sale {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    gap: 4px;
    padding: 12px 15px;

    &__btn {
        cursor: pointer;
        color: white;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        text-decoration: underline;
    }

    @media (max-width: 400px) {
        font-size: 14px;
        padding: 8px 15px;

        &__btn {
            font-size: 14px;
        }
    }
    // @media (min-width: $sm) and (max-width: $md) {
    //     padding: 8px 15px;
    //     font-size: 16px;
    // }
}
