@import "../variables";

.container-2 {
    display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;
    // padding: 34px 0;
    padding-top: 34px;
    padding-bottom: 48px;
    gap: 10px;

    @media (max-width: 1030px) {
        flex-direction: column-reverse;
        // gap: 50px;
    }
}

.footer {
    display: flex;
    flex-direction: column;

    &__container {
        // display: flex;
        // justify-content: space-between;
        background: $color-secondary;
        // max-width: 100%;
        // height: 367px;
        // padding-top: 34px;
        // padding-left: 100px;
        // padding-right: 100px;

        &__contact-us {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            // width: 605px;
            height: 100%;
            // padding: 0px 20px;

            &__title {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: $color-primary;
                font-size: 30px;
                font-weight: 700;
                letter-spacing: 0.05em;
                width: 100%;
            }

            &__subscribe {
                display: flex;
                width: 326px;
                height: 48px;
                margin-top: 33px;
                border-radius: 4px;
                background: #ffffff;
                justify-content: space-between;
                align-items: center;
                padding: 0px 2px;
                padding-left: 13px;

                > input {
                    border: none;
                    margin-left: -18px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                }

                > input:focus {
                    outline: none;
                }

                > input::placeholder {
                    color: $color-primary;
                    font-weight: 700;
                    font-size: 14px;
                }
            }

            &__subscribe-btn {
                display: flex;
                width: 98px;
                height: 44px;
                align-items: center;
                justify-content: center;
                background: $color-primary;
                cursor: pointer;
                border: none;
                font-weight: 500;
                font-size: 14px;
                color: #ffffff;

                &:hover {
                    background: lighten($color: $color-primary, $amount: 5);
                }
            }

            &__contact {
                display: flex;
                flex-direction: column;

                &__info {
                    color: $color-footer-text;
                    margin-top: 40px;
                    font-size: 14px;
                    font-weight: 300;
                }

                &__number {
                    color: $color-footer-text;
                    margin-top: 20px;
                    font-size: 14px;
                    font-weight: 300;
                    display: flex;
                    justify-content: space-between;
                    width: 80%;
                }

                &__address {
                    color: $color-footer-text;
                    margin-top: 9px;
                    font-size: 14px;
                    font-weight: 300;
                }

                &__icons {
                    margin-top: 24px;
                    cursor: pointer;

                    > a {
                        margin-right: 10.87px;
                    }
                }
            }
        }

        &__quick-links {
            display: flex;
            justify-content: space-between;
            // width: 100%;
            // padding-top: 15px;
            flex: 1;

            @media (max-width: 660px) {
                flex-wrap: wrap;
            }

            &__list {
                display: flex;
                flex-direction: column;
                gap: 40px;

                @media (max-width: 661px) {
                    // text-align: center;
                    // align-items: center;
                    width: 50%;
                }
                &__title {
                    color: white;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 20px;
                    text-transform: uppercase;
                    padding: 0 5px;
                }
                &__list-item {
                    li > a {
                        display: flex;
                        flex-direction: column;
                        color: white;
                        margin-bottom: 27px;
                        font-weight: 200;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0 5px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    &__copyright {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $color-primary;
        height: 53px;
        color: #ffffff;
        font-weight: 300;
        font-size: 14px;
    }

    @media (max-width: $sm) {
        &__container {
            flex-direction: column;
            height: unset;
            justify-content: unset;
            padding: 0;

            &__contact-us {
                // height: 400px;
                width: unset;
                // align-items: center;

                // &__title {
                //     // justify-content: center;
                // }

                &__subscribe {
                    width: 250px;

                    > input {
                        width: 130px;
                    }
                }
                &__subscribe-btn {
                    width: 70px;
                }

                &__contact {
                    // align-items: center;
                    // justify-content: center;
                    // text-align: center;
                    line-height: 1.5;

                    &__number {
                        font-size: 12px;
                    }
                }
            }

            &__quick-links {
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                align-items: flex-start;
                // justify-content: center;

                &__list {
                    // height: 350px;
                    // width: 180px;
                    // text-align: center;

                    &__title {
                        font-size: 13px;
                    }

                    &__list-item {
                        > a {
                            font-size: 12px;
                        }
                    }

                    &:nth-last-child(1) {
                        height: 150px;
                    }
                }
            }
        }

        &__copyright {
            height: 30px;
            font-size: 14px;
        }
    }
    @media (min-width: $sm) and (max-width: $md) {
        &__container {
            flex-direction: column;
            height: unset;
            justify-content: unset;

            &__contact-us {
                // height: 400px;
                width: unset;
                // align-items: center;

                // &__title {
                //     // justify-content: center;
                // }

                &__contact {
                    // align-items: center;
                    // justify-content: center;
                    // text-align: center;
                    line-height: 1.5;
                }
            }

            &__quick-links {
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                align-items: flex-start;
                // justify-content: center;

                &__list {
                    // height: 400px;
                    // width: 180px;

                    &:nth-last-child(1) {
                        height: 150px;
                    }
                }
            }
        }
    }
}

.tel {
    color: white;
}
