@import "../variables";

.hero {
    display: flex;
    justify-content: space-between;
    height: 583px;
    padding-bottom: 33px;

    &__left {
        padding-top: 79px;
        padding-left: 261px;
    }

    &__right {
        padding-left: 33px;
        padding-right: 120px;

        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 66px 40px;
            box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.06);
            border-radius: 20px;

            &-header {
                color: $color-primary;
                height: 23px;
                width: 89px;
                font-weight: 700;
                font-size: 24px;
                text-transform: uppercase;
                margin-bottom: 77px;
            }

            &-label {
                color: #666666;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 13px;
                margin-bottom: 13px;
                align-self: flex-start;
                margin-bottom: 11px;
                padding-top: 7px;
            }

            &-control {
                width: 372px;
                height: 20px;
                border-radius: 6px;
                border: 0.8px solid #c2c2c2;
                padding-top: 14px;
                padding-bottom: 14px;
                padding-left: 15px;
                margin-bottom: 9px;
            }

            &__forgot-password {
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                text-decoration-line: underline;
                color: #585858;
                align-self: flex-end;
                margin-bottom: 51px;
                cursor: pointer;
            }

            &-btn {
                height: 36px;
                width: 271px;
                background: $color-primary;
                border-radius: 2px;
                border: none;
                margin-bottom: 39px;
                color: #fff;
                font-weight: 500;
                font-size: 14px;
                cursor: pointer;

                &:hover {
                    background: lighten($color: $color-primary, $amount: 5);
                }
            }

            &-signup {
                color: #4f4f4f;
                
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                line-height: 17px;
            }
            &-signup-btn {
                color: #4f4f4f;
                font-weight: 600;
                font-size: 15px;
                line-height: 19px;
                text-decoration-line: underline;
                cursor: pointer;

                &:hover {
                    color: lighten($color: #4f4f4f, $amount: 15);
                }
            }
        }
    }
}
