@import "../variables";

.navlist {
    display: flex;
    flex: 1;
    // justify-content: space-around;

    // product page changes
    justify-content: space-between;
    padding-left: 194px;
    // background: red;

    @media (max-width: 1200px) {
        width: 50%;
        // display: flex;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: absolute;
        top: 64px;
        right: 0;
        background: #bb0100;
        // transform: translateY(-150%);
        // transform: translateX(150%);
        overflow-x: hidden;
        // transition: 0.1s all;

        z-index: 2;
        gap: 50px;
        padding: 10px;
        height: 87vh;
    }
}

.toggler-container {
    position: relative;
}

.navbar-toggler {
    display: none;
    height: min-content;
    width: 40px;
    cursor: pointer;

    @media (max-width: 1200px) {
        // display: grid !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.bar {
    width: 20px;
    height: 3px;
    margin-bottom: 4px;
    background: #bb0100;
    border-radius: 10%;
    transition: 0.4s;
}

.stick {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0px 0.5px 5px lightgrey;
}

.navbar {
    display: flex;
    align-items: center;
    // position: relative;
    // overflow-y: hidden;

    // product page changes

    @media (max-width: 1200px) {
        justify-content: space-between;
    }
}

.nav-input {
    display: none;

    &:checked ~ .navlist {
        // transform: translateY(0);
        // transform: translateX(0);
        display: flex;
        // right: 0;
        transition: 1s all;
    }
}
