.nav-icons {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 17px;
    background: transparent;

    &__btn {
        border: none;
        background: transparent;
        // height: 24px;
        // width: 24px;
        cursor: pointer;
        padding: 0px;

        > img:hover {
            filter: invert(10%) sepia(82%) saturate(5059%) hue-rotate(3deg)
                brightness(70%) contrast(117%);
        }

        @media (max-width: 1200px) {
            > img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
                    saturate(7500%) hue-rotate(223deg) brightness(103%)
                    contrast(108%);
            }

            > img:hover {
                filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(291deg)
                    brightness(97%) contrast(103%);
            }
        }
    }
}
