@import "../variables";

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 496px;

    > a {
        color: #282627;
        line-height: 16.8px;
        font-size: 14px;
        font-weight: 500;
        padding: 0 10px;

        &:hover {
            color: #bb0100;
        }
    }

    @media (max-width: $sm) {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    @media (max-width: 992px) {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
