@import "../variables";

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 496px;

    > a {
        color: #282627;
        line-height: 16.8px;
        font-size: 14px;
        font-weight: 300;
    }

    @media (max-width: $sm) {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    @media (min-width: $sm) and (max-width: $md) {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}
