@import "../variables";

.special-offer-container {
    border: 1px solid #e91b1a;
    // margin: 100px 100px;
    margin-top: 100px;
    padding: 54px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 100%;

    @media (max-width: $sm) {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
}

.special-offer {
    position: absolute;
    top: -25px;
    left: 198px;
    background: white;
    // width: 566px;

    @media (max-width: $sm) {
        top: -25px;
        left: 10px;
    }

    &__title {
        padding: 18px;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        color: #282627;

        @media (max-width: $sm) {
            font-size: 17px;
            padding: 5px;
        }
    }

    &__countdown {
        width: 261px;
        height: 59px;
        padding: 20px 35px;
        background: #bb0100;
        border-radius: 2px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin-right: 15px;

        @media (max-width: $sm) {
            width: 70px;
            height: 20px;
            font-size: 10px;
            margin: 0;
            padding: 5px;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        max-width: 330px;
        width: 100%;

        &__title {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #4f4f4f;
            align-self: flex-start;
        }

        &__price {
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #bb0100;
            align-self: flex-start;
        }

        > img {
            max-width: 330px;
            width: 100%;
        }

        // &__img {
        //     // max-width: 330px;
        //     // max-height: 330px;
        //     max-width: 100%;
        //     // height: auto;
        // }

        &__qty-total {
            max-width: 326px;
            width: 100%;
            height: 6px;
            background: #ededed;
            border-radius: 5px;
        }

        &__qty-available {
            // max-width: 123px;
            max-width: calc(100% - 123px);
            width: 100%;
            height: 6px;
            background: #5dbe6b;
            border-radius: 5px;
        }

        &__rating-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 326px;
            width: 100%;
        }

        &__availability {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #4f4f4f;
        }
    }
}
