// COLORS
$color-primary: #bb0100;
$color-secondary: #111111;
$color-footer-heading: #ffffff;
$color-footer-text: #ffffff;

// FONTS
$primary-font: "Montserrat", sans-serif;

// RESPONSIVE DESIGN BREAKPOINTS
$sm: 375px;
$md: 640px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
